#nav-list a {
  text-align: center;
}

#page-header{
	font-weight: bold;
	font-size: 3em;
}

.box{
	height: 333px;
	background-color: #cccccc;
	margin-bottom: 10px;
}

.title{
	font-size: 2em
}

.options{
	background-color: #b3b3b3;
	margin: 0;
}

.navbar-collapse{
	padding: 0;
}

li > a{
	font-weight: bold;
}
